
<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- <ul class="breadcrumb">
                    <li id="breadcrumb-menu-home"><a href="/">Home</a></li>
                    <li id="breadcrumb-menu-about"
                        class="active">{{ page.title }}</li>
                </ul> -->
                {% include breadcrumb.html %}
            </div>
        </div>
    </div>
</section>
    
    
<section class="callaction">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="big-cta">
                    <div class="cta-text">
                        <h2>{{ page.title }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>