<div class="col-md-4 right">
	<aside class="right-sidebar">

        <div class="widget">
            <h5 class="widgetheading">Recent Posts</h5>
            <ul class="recent">

                <li>
                    <img class="pull-left" alt="" src="/hrcm/static/media/">
                    <h6><a href="/blog/plot-of-the-month-mar-2019-10km-global-modelling/"
                        >Plot of the month (Mar 2019): 10km global modelling</a>
                    </h6>
                </li>

                <li>
                    <img class="pull-left" alt="" src="/hrcm/static/media/">
                    <h6><a href="/blog/plot-of-the-month-feb-2018-atmospheric-blocking-storymap/"
                        >Plot of the month (Feb 2018): atmospheric blocking &#x27;storymap&#x27;</a>
                    </h6>
                </li>

                <li>
                    <img class="pull-left" alt="" src="/hrcm/static/media/">
                    <h6><a href="/blog/plot-of-the-month-jan-2018-heavy-precipitation-from-cyclones/"
                        >Plot of the month (Jan 2018): heavy precipitation from cyclones</a>
                    </h6>
                </li>

                <li>
                    <img class="pull-left" alt="" src="/hrcm/static/media/">
                    <h6><a href="/blog/plot-of-the-month-dec-2017-hrcm-publications-update/"
                        >Plot of the month (Dec 2017): HRCM publications update</a>
                    </h6>
                </li>

                <li>
                    <img class="pull-left" alt="" src="/hrcm/static/media/">
                    <h6><a href="/blog/plot-of-the-month-nov-2017-extratropical-storm-in-a-25km-model/"
                        >Plot of the month (Nov 2017): extratropical storm in a 25km model</a>
                    </h6>
                </li>

            </ul>
        </div>

        <div class="widget">
            <h5 class="widgetheading">Authors</h5>
            <ul class="cat">

                <li><a href="/blog/author/malcolm/"
                    >Malcolm Roberts (1)</a>
                    </li>
                
                <li><a href="/blog/author/alex/"
                    >Alexander Baker (20)</a>
                    </li>
            </ul>
        </div>

        <div class="widget">
            <h5 class="widgetheading">Archive</h5>
        
            <ul class="cat">
                <li><a href="/blog/archive/2019/3/"
                    >March</a> (1)</li>
            </ul>

            <ul class="cat">        
                <li><a href="/blog/archive/2018/2/"
                    >February</a> (1)</li>

                <li><a href="/blog/archive/2018/1/"
                    >January</a> (1)</li>    
            </ul>

            <ul class="cat">
                
                <li><a href="/blog/archive/2017/12/"
                    >December</a> (1)</li>

                <li><a href="/blog/archive/2017/11/"
                    >November</a> (1)</li>

                <li><a href="/blog/archive/2017/10/"
                    >October</a> (1)</li>

                <li><a href="/blog/archive/2017/9/"
                    >September</a> (1)</li>

                <li><a href="/blog/archive/2017/8/"
                    >August</a> (1)</li>

                <li><a href="/blog/archive/2017/7/"
                    >July</a> (1)</li>

                <li><a href="/blog/archive/2017/6/"
                    >June</a> (1)</li>

                <li><a href="/blog/archive/2017/4/"
                    >April</a> (3)</li>

                <li><a href="/blog/archive/2017/3/"
                    >March</a> (1)</li>

                <li><a href="/blog/archive/2017/2/"
                    >February</a> (2)</li>

                <li><a href="/blog/archive/2017/1/"
                    >January</a> (1)</li>

            </ul>
            
            <ul class="cat">
            
                <li><a href="/blog/archive/2016/12/"
                    >December</a> (3)</li>

                <li><a href="/blog/archive/2016/10/"
                    >October</a> (1)</li>

            </ul>

        </div>

        <div class="widget">
            <h5 class="widgetheading">Feeds</h5>
            <a href="/blog/feeds/rss/">RSS</a> /
            <a href="/blog/feeds/atom/">Atom</a>
        </div>

	</aside>
</div>