---
layout: base_hrcm
---

<body>

{% include breadcrumb.html %}
{% assign author = site.data.authors | where: "name", page.author | first %}
{% assign post = site.posts | where: "title", page.title | first %}
{% assign is_blog_post = true %}
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 middle">
                {% include blog_card.html %}

                <!-- <ul class="pager">
                    <li class="previous">
                        <a href="/blog/plot-of-the-month-oct-2017-post-tropical-cyclone-storymap/"><i class="fa fa-arrow-left"></i> Plot of the month (Oct 2017): Post-tropical cyclone &#x27;storymap&#x27;</a>
                    </li>

                    <li class="next">
                        <a href="/blog/plot-of-the-month-dec-2017-hrcm-publications-update/">Plot of the month (Dec 2017): HRCM publications update <i class="fa fa-arrow-right"></i></a>
                    </li>                 
                </ul> -->
            </div>
            {% include blog_aside.html %}
        </div>
    </div>
</section>

</body>

